{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}
<div class="conteiner-fluid mx-5">
    <div class="row justify-content-evenly align-items-center mt-5">
        <div class="col-auto">
            {% if contact.picture %}
            <img src="{{ contact.picture.url }}" alt="Contact Picture" class="img-responsive rounded-circle">
            {% else %}
            <img src="{{ default_picture }}" alt="Contact Picture" class="img-responsive rounded-circle">
            {% endif %}
        </div>
        <div class="col-auto">
            <h1 class="mt-5 mb-3 display-3">{{ contact.fullname }}</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item fs-5">
                    <span class="fs-4 fw-bold">ID</span> {{ contact.id }}
                </li>
                <li class="list-group-item fs-5">
                    <span class="fs-4 fw-bold">Phone Number</span> {{ contact.phone }}
                </li>
                <li class="list-group-item fs-5">
                    <span class="fs-4 fw-bold">E-mail</span> {{ contact.email }}
                </li>
                <li class="list-group-item fs-5">
                    <span class="fs-4 fw-bold">Creation Date</span> {{ contact.creation_date | date:'d/m/Y H:i:s' }}
                </li>
                <li class="list-group-item fs-5">
                    <span class="fs-4 fw-bold">Category</span> {{ contact.category }}
                </li>
                {% if contact.description %}
                <li class="list-group-item fs-5">
                    <span class="fs-4 fw-bold">Description</span>
                    <p>
                        {{ contact.description }}
                    </p>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}