{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>

		<title>{% block title %}{% endblock title %}</title>
		{% include 'partials/_head.html' %}
		{% include 'partials/_script.html' %}
		{% block script %}{% endblock script %}

	</head>

	<body>

		{% include 'partials/_nav.html' %}

		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }} text-center" role="alert">
					{{ message }}
				</div>
			{% endfor %}
        {% endif %}

		{% block content %}{% endblock content %}

	</body>

</html>